@media only screen and (max-width: 1108px) {
    .wrapper {
        width: 90%;
    }
      #social {
        position: absolute;
        width: auto;
        top: 82px;
        right: 4px;
    }
}

@media only screen and (max-width: 900px) {
      body  { font-size: 85%; }
      
      h1 { font-size: 35px; }
      h2 { font-size: 2.2em; }
      #social { width: 72px;}
    
    .col-3 p {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
        }
}

@media only screen and (max-width: 750px) {
      nav a { font-size: 0.9em; }
    
      .col-1 {
        width: 100%;
        margin-left: 0;
        float: none;
      }
        
      .col-2 {
        width: 100%;
        margin-left: 0;
        float: none;
      }
      
      .col-3 p {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        width: 100%;
        margin-left: 0;
        float: none;
        }
        
      .border-right{
        border-right: 0; 
      }
      
      #details  {
        height: auto;
      }
          
  }
  
  @media only screen and (max-width: 700px) {
      #nav { 
        display: none
        
      }
  
  } 